eTdsDNF2223_optimize/DNF/Service References/IVRStatusSvc/itrvstatus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://incometaxindiaefiling.gov.in/ditws/ITRVStatus/v_1_0" xmlns:tns="http://incometaxindiaefiling.gov.in/ditws/ITRVStatus/v_1_0" targetNamespace="http://incometaxindiaefiling.gov.in/ditws/ITRVStatus/v_1_0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://tanws.dit.tcs.com/types/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://incometaxindiaefiling.gov.in/ditws/ITRVStatus/v_1_0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getITRVStatusRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PAN" type="xs:string" />
            <xs:element name="AssessmentYear" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getITRVStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="result" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getITRVStatusRequest">
    <wsdl:part name="getITRVStatusRequest" element="tns:getITRVStatusRequest" />
  </wsdl:message>
  <wsdl:message name="getITRVStatusResponse">
    <wsdl:part name="getITRVStatusResponse" element="tns:getITRVStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="itrvstatusPort">
    <wsdl:operation name="getITRVStatus">
      <wsdl:input name="getITRVStatusRequest" message="tns:getITRVStatusRequest" />
      <wsdl:output name="getITRVStatusResponse" message="tns:getITRVStatusResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="itrvstatusPortSoap11" type="tns:itrvstatusPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getITRVStatus">
      <soap:operation soapAction="" />
      <wsdl:input name="getITRVStatusRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getITRVStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="itrvstatusService">
    <wsdl:port name="itrvstatusPortSoap11" binding="tns:itrvstatusPortSoap11">
      <soap:address location="https://incometaxindiaefiling.gov.in/e-FilingWS/ditws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>